/* Specific component styles if utility classes aren't enough */
.sidebarEnter {
    transform: translateX(-100%);
}

.sidebarEnterActive {
    transform: translateX(0);
    transition: transform 300ms;
}

.sidebarExit {
    transform: translateX(0);
}

.sidebarExitActive {
    transform: translateX(-100%);
    transition: transform 300ms;
}